<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title></title>
</head>
<body>
    <section class="hero is-success">
        <div class="hero-body">
          <p class="title">
            Tripadvisor
          </p>
          <p class="subtitle">
            Restaurants in Barcelona
          </p>
        </div>
      </section>
      <br>
      <div class="box has-text-centered">
        <div  class="field">
          <form class= "form" method="POST"  action=""></form>
            <label class="label">What do you want to scrape?</label>
            <div class="control">
              <input name = "style" class="input" type="text" placeholder="Whatever you wnat to search in TripAdvisor">
              
            </div>
            <p class="help">(e.g. Restaurante Italiano , Hoteles en la Costa Brava...)</p>
            <br>
            <br>
            
            <a type="submit" class="button is-success" href="{{ url_for('tripadvisorweb') }}">Scrape Tripadvisor</a>
          </form>
        </div>
      </div>
      

      
      
      
</body>
</html>