<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title></title>
</head>
<body>
    <section class="hero is-success">
        <div class="hero-body">
          <p class="title">
            Tripadvisor
          </p>
          <p class="subtitle">
            You need to have installed Google Chrome
             and to be located in Spain or use a VPN.
          </p>
        </div>
      </section>
      <br>
      <div class="box has-text-centered">
        <div  class="field">
          <form class= "form" method="POST"  id="GFG" action="{{ url_for('tripadvisorweb')}}">
            <label class="label">What do you want to scrape?</label>
            
            <input name = "style" input-id="trigger" class="input is-success" type="text" placeholder="Whatever you want to search in TripAdvisor"></input>
            
            
          
            <p class="help">(e.g. Italian Restaurant , Luxury Hotels...)</p>
            <br>
            <br>
          
            <label class="label">Where do you want to search?</label>
          
            
            <input name = "cities" input-id="trigger" class="input is-success" type="text" placeholder="Where is going to be your search"></input>
            <br>
            <br>
            <p class="help">(e.g. Barcelona , San Francisco...)</p>
            <br>
            <br>
            <label class="label">How many results you want?</label>
            
            
            <div class="select is-success" >
              <select name="hmany" input-id="trigger">
                <option>30</option>
                <option>60</option>
                <option>90</option>
                <option>120</option>
                <option>150</option>
                <option>180</option>
                <option>210</option>
              </select>
            </div>
            <br>
            <br>
            <br>
            <br>

            <input   type="submit" class="button is-success"     />
            
             
          </form>
          
          
          
          <br>
          <br>
          
          
          
          
        </div>
      </div>
      

      
      
      
</body>
</html>