body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: rgba(193, 240, 195, 0.89);
}

.content {
    margin: 0 auto;
    width: 400px;
}


table, th, td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
  }
  th, td {
    background-color: #c7f9b6;
  }



th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

form {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#content {
    width: 70%;
}